<div class="container">
  <div class="container-div">
    <div class="row">
      <div class="col-sm-12">
        <a style="cursor: pointer;" (click)="onClickLogout()">Logout</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h1>Vigitables</h1>
        <button style="float: right;margin-bottom: 2%;" data-toggle="modal" data-target="#exampleModalCenter">Add
          Vegitable</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-table [tableData]="vegitables"></app-table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <app-add-vegitable></app-add-vegitable>
</div>
