<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Vegitable</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <h1> Name: {{selectedVegitable.name}}</h1>
      <h1>Price: {{selectedVegitable.price}}</h1>
      <h1>Quantity: {{selectedVegitable.quantity}}</h1>
      <h1>vitamins: {{selectedVegitable.vitamins}}</h1>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
