.form-alignment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-danger-addcontact {
  background-color: rgb(238, 101, 101);
  padding: 3px;
  color: white !important;
  margin-bottom: 10px !important;
  z-index: 999999 !important;
  margin: top 10px !important;
  font-size: 75% !important;
}

.message-success {
  background-color: green;
  width: 100%;
}

.message-error {
  background-color: red;
  width: 100%;
}
